/*全体のフォント変更*/
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

/*ルート要素のフォント変更*/
html {
  font-size: 20px;
}

/*フォントカラー変更*/
.pink {
  /* 以下はRGBで色を指定しています */
  color: rgb(255, 192, 203);
}
.blue {
  color: skyblue;
}

/*h1の変更*/
h1 {
  /* フォントサイズの変更 */
  font-size: 2rem;
  /* フォントの変更 */
  font-family: "Josefin Sans", sans-serif;
  /*字間を変える*/
  letter-spacing: 1.2em;
  /*影をつける*/
  text-shadow: 1px 1px 2px gray;
  /*実線を引く*/
  border-bottom: solid 3px rgb(115, 115, 114);
}

/*フォント太字*/
#basic > p {
  font-weight: bold;
}
